ul {
  list-style-type: none;
  margin: 0px auto;
  padding: 1em;
  padding-bottom: 0;
  color: #0d1b2b;
  width: 90%;
}

li {
  display: inline-block;
  position: relative;
  padding-right: 1em;
  margin: 0;
  font-weight: 500;
  font-size: 1rem;
  margin-top: 10px;
}

li a {
  text-decoration: none;
  color:#0d1b2b;
}

li a:hover {
  text-decoration: underline;
}

li:after {
  content: ">";
  position: absolute;
  display: inline-block;
  right: 0;
  width: 1em;
  text-align: center;
  font-weight: normal;
}
li:last-child:after {
  content: "";
}
