<div class="container">
    <div class="card">
        <img src="../../../assets/userPlaceholder.jpg" alt="John">
        <h1>{{userInfo?.username}}</h1>
        <p class="title">Followers : {{userInfo?.followers?.length}}</p>
        <p><button (click)="logoutHandler()" class="logoutBtn">Logout</button></p>
        <p><button (click)="showFollower = !showFollower">Followers</button></p>
    </div>

    <div class="follower_container" *ngIf="showFollower">
        <div *ngIf="userInfo.followers.length > 0 ;else noFollower">
            <mat-card class="follower-card" *ngFor="let follower of userInfo.followers">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{follower.username}}</mat-card-title>
                </mat-card-header>
            </mat-card>
        </div>
        <ng-template #noFollower> No one follow you</ng-template>
    </div>
</div>